<!doctype html>
<html>

<head></head>

<body>

<script id="handlebars-list-template" type="text/x-handlebars-template">

    <div class="col-8">
        <table class="table table-striped table-bordered text-center">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">ACTIF</th>
            </tr>
            </thead>
            {{#each trainers}}
            <tbody>
            <tr>
                <td>{{id}}</td>
                <td>{{firstName}}</td>
                <td>{{name}}</td>
                {{#if actif}}
                <td>oui</td>
                {{else}}
                <td>non</td>
                {{/if}}
            </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</script>
</body>

</html>



