<!doctype html>
<html>

<head></head>

<body>
  <div id="handlebars-create-training-template" class="container">
  
  WORK IN PROGRESS
  
<!--     <div class="row justify-content-md-center"> -->
<!--       <div class="col-6"> -->
<!--         <form th:action="@{/admin/create-training}" method="post"> -->
<!--           <div class="row "> -->
<!--             <div class="input-group"> -->
<!--               <input id="title" name="title" placeHolder="Titre" class="form-control" type="text" required/> -->
<!--             </div> -->
<!--             <div class="input-group"> -->
<!--               <select class="input-group" required> -->
<!--                 {{#each categories}} -->
<!--                 <option id="category" name="category" class="form-control" value="{{id}}">{{name}}</option> -->
<!--                 {{#categories}} -->
<!--               </select> -->
<!--             </div> -->
<!--             <div class="input-group"> -->
<!--               <input type="submit" class="btn-primary form-control" value="Créer" /> -->
<!--             </div> -->
<!--             <div class="input-group"> -->
<!--               <font id="input-error-already-exists" color="red"></font> -->
<!--             </div> -->
<!--           </div> -->
<!--         </form> -->
<!--       </div> -->
<!--     </div> -->
  </div>
</body>

</html>