<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title th:text="Détails"></title>
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="/css/perso.css">
</head>
<body>
  <nav th:replace="navbar.html :: navbarCategory"></nav>
  <div class="container" th:if="${category != null}">
    <form th:object="${category}" method="POST" th:action="@{/admin/update-category}">
      <div class="row ">
        <div class="input-group">
          <div>
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Identifiant</span>
            </div>
            <input id="id" class="form-control" th:field="*{id}" type="text" th:value="*{id}" readonly />
          </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Nom</span>
            </div>
            <input id="name" class="form-control" th:field="*{name}" type="text" th:value="*{name}" />
        </div>
        <div class="input-group">
          <input class="btn-primary form-control" type="submit" value="Mettre à jour" />
        </div>
      </div>
    </form>
    <form th:object="${category}" method="POST" th:action="@{/admin/delete-category}">
      <div class="input-group col-3">
        <input class="btn-danger form-control" type="submit" value="Supprimer" />
        <input th:field="*{id}" type="hidden" th:value="*{id}" /><br/>
        <input th:field="*{name}" type="hidden" th:value="*{name}" /><br/>
      </div>
    </form>
  </div>
  <div th:if="${category == null}">
    <font color="red">Erreur de récupération de la catégorie.</font>
  </div>
  <div th:if="${error}">
    <font color="red" th:text="${error}"></font>
  </div>
  
  
  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.amd.min.js"></script>
  <script type="text/javascript" src="/javascript/category.js"></script>
  
</body>
</html>