<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title th:text="Listes"></title>
</head>
<body>
  
<!--   <div th:if="${data['trainings'] != null}"> -->
<!--     <table> -->
<!--       <tr> -->
<!--         <th th:text="Identifiant"></th> -->
<!--         <th th:text="Titre"></th> -->
<!--         <th th:text="Categorie"></th> -->
<!--         <th th:text="Formateur"></th> -->
<!--       </tr> -->
<!--       <tr th:each="training : ${data.trainings}"> -->
<!--         <td th:text="${training.uuid}"></td> -->
<!--         <td th:text="${training.title}"></td> -->
<!--         <td th:text="${training.categorie}"></td> -->
<!--         <td th:text="${training.trainer.name + ' ' + training.trainer.firstName}"></td> -->
<!--       </tr> -->
<!--     </table> -->
<!--   </div> -->
<!--   <div th:if="${data['videos'] != null}"> -->
<!--     <table> -->
<!--       <tr> -->
<!--         <th th:text="Identifiant"></th> -->
<!--         <th th:text="Titre"></th> -->
<!--       </tr> -->
<!--       <tr th:each="video : ${data.videos}"> -->
<!--         <td th:text="${video.uuid}"></td> -->
<!--         <td th:text="${video.name}"></td> -->
<!--       </tr> -->
<!--     </table> -->
<!--   </div> -->
  <div th:if="${categories != null}">
    <table>
      <tr>
        <th th:text="Identifiant"></th>
        <th th:text="Nom"></th>
      </tr>
      <tr th:each="categorie : ${categories}">
        <td th:text="${categorie.id}"></td>
        <td th:text="${categorie.name}"></td>
        <td><a th:href="@{/admin/category-details(name=${categorie.name})}">Détails</a></td>
      </tr>
    </table>
  </div>
  
</body>
</html>