<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div class="searchBar">

    <form class="form-inline" action="/admin/user/" method="POST">
        <div class="form-group mx-sm-3 mb-2">
            <label for="search" class="sr-only">Password</label>
            <input type="text" name="search" class="form-control" id="search" placeholder="Utilisateur">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
    </form>
</div>






</body>


</html>