<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <title>Utilisateur</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/perso.css"/>
</head>

<body>

<!-- nav bar -->
<nav th:replace="navbar.html :: navbarUser"></nav>

<!-- Liste des utilisateurs -->
<div class="container margeTop">
    <div class="displayResult">
        <div th:if="${not #lists.isEmpty(users)}">
            <div class="list-group">
        <span th:each="user: ${users}">
            <a th:href="@{/admin/userDetail(uuid=${user.uuid})}"
               class="list-group-item list-group-item-action list-group-item-primary">
                <span> PRÉNOM: <span th:text="${user.firstName}">   </span></span>
                <span> NOM:<span th:text="${user.name}">   </span></span>
                <span> EMAIL:<span th:text="${user.email}">   </span></span>
                 <span> UUID:<span th:text="${user.uuid}">   </span></span>
            </a>
        </span>
            </div>
        </div>
        <div th:if="${mode == 'display-all'}">
            <div th:replace="pagination.html :: pagination-users"></div>
        </div>
        <div th:if="${mode == 'display-research-result'}">
            <div th:replace="pagination.html :: pagination-users-research"></div>
        </div>
    </div>

</div>



<!-- JS BootStrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- JS JQuery + perso -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/general.js"></script>
</body>


</html>